<h2>Profile</h2>

<!-- user_id, username, firstname, lastname, address, phone, race, ethnicity, sex, DOB -->

<%= form_for [@user, @profile] do |f| %>
  <div class="field">
    <%= f.text_field :username %>
    <%= f.label :username %><br />
  </div>

  <div class="field">
    <%= f.text_field :firstname %>
    <%= f.label :firstname %><br />
  </div>

  <div class="field">
    <%= f.text_field :lastname %>
    <%= f.label :lastname %><br />
  </div>

  <div class="field">
    <%= f.text_field :address %>
    <%= f.label :address %><br />
  </div>

  <div class="field">
    <%= f.text_field :phone %>
    <%= f.label :phone %><br />
  </div>

  <div class="field">
    <%= f.text_field :race %>
    <%= f.label :race %><br />
  </div>

  <div class="field">
    <%= f.text_field :ethnicity %>
    <%= f.label :ethnicity %><br />
  </div>

  <div class="field">
    <%= f.text_field :sex %>
    <%= f.label :sex %><br />
  </div>

  <div class="field">
    <%= f.text_field :DOB %>
    <%= f.label :DOB %><br />
  </div>

  <div class="actions">
    <%= f.submit "Save Profile" %>
  </div>
<% end %>
